[user]
        email = boehm.matthew@gmail.com
        name = Matthew Boehm
[github]
        user = mattboehm
[alias]
        st = status
        cm = commit
        in = fetch --dry-run
        co = checkout
        cob = checkout -b
        br = branch -av
        bd = branch --delete
        cb = !git branch --no-color 2>/dev/null | sed -e '/^[^*]/d' -e 's/* \\(.*\\)/\\1/'
        pl = pull
	pr = pull --rebase
        ps = push
        d = diff
        dc = diff --cached
        r = remote
	su = submodule update

	#log formats
	#changes
        ch = log --pretty=format:\"%h %cr %Cblue%cn%Creset %Cgreen%s%Creset\" --name-status
	#short (hash, date, name, message on one line
        sh = log --pretty=format:\"%h %cr %Cblue%cn%Creset %Cgreen%s%Creset\"

	#changes in master not in this branch
        bin = !git ch --cherry `git cb`...master
	#changes in this branch not in master
        bout = !git ch --cherry master...`git cb`
	#changes in remote not in local
        rin = !git ch --cherry `git cb`...origin/`git cb`
	#changes in local not in remote
        rout = !git ch --cherry origin/`git cb`...`git cb`

[color]
        ui = auto
