[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/rainbowparen"]
	path = .vim/bundle/rainbowparen
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/togglelist"]
	path = .vim/bundle/togglelist
	url = git://github.com/milkypostman/vim-togglelist.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/inkpot"]
	path = .vim/bundle/inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule ".vim/bundle/wombat256"]
	path = .vim/bundle/wombat256
	url = git://github.com/vim-scripts/wombat256.vim.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/sparkup"]
	path = .vim/bundle/sparkup
	url = git://github.com/tristen/vim-sparkup.git
[submodule ".vim/bundle/closetag"]
	path = .vim/bundle/closetag
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/lesscss"]
	path = .vim/bundle/lesscss
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/unite"]
	path = .vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/indent-guides"]
	path = .vim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/indent-object"]
	path = .vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/argtextobj.vim"]
	path = .vim/bundle/argtextobj.vim
	url = git://github.com/vim-scripts/argtextobj.vim.git
[submodule ".vim/bundle/vinegar"]
	path = .vim/bundle/vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule ".vim/bundle/fugitive-blame-comments"]
	path = .vim/bundle/fugitive-blame-comments
	url = git://github.com/tommcdo/vim-fugitive-blame-ext.git
[submodule ".vim/bundle/sneak"]
	path = .vim/bundle/sneak
	url = git://github.com/justinmk/vim-sneak.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/extradite"]
	path = .vim/bundle/extradite
	url = git://github.com/int3/vim-extradite.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/vim-textobj-indent"]
	path = .vim/bundle/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule ".vim/bundle/vim-textobj-python"]
	path = .vim/bundle/vim-textobj-python
	url = https://github.com/bps/vim-textobj-python.git
[submodule ".vim/bundle/dispatch"]
	path = .vim/bundle/dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/editqf"]
	path = .vim/bundle/editqf
	url = git://github.com/jceb/vim-editqf.git
[submodule ".vim/bundle/accordion"]
	path = .vim/bundle/accordion
	url = https://github.com/mattboehm/vim-accordion.git
[submodule ".vim/bundle/unstack"]
	path = .vim/bundle/unstack
	url = https://github.com/mattboehm/vim-unstack.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/nrrwrgn"]
	path = .vim/bundle/nrrwrgn
	url = https://github.com/chrisbra/NrrwRgn.git
