snippet #! "header" b
#!/usr/bin/env python
endsnippet

snippet im "ifmain" b
def main():
	${VISUAL}$1

if __name__ == "__main__":
	main()
endsnippet

snippet f "function" b
def ${1:foo}($2):
	${3:pass}
endsnippet

snippet i "if" b
if $1:
	${VISUAL}
endsnippet

snippet ip "import print" b
from __future__ import print_function
endsnippet

snippet p "print" b
print($1)
endsnippet

snippet ff "for loop" b
for x in range(${1}):
	${VISUAL}
endsnippet
